fastapi
uvicorn
streamlit
langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16
langgraph
langsmith
openai
faiss-cpu
pypdf
python-dotenv
tiktoken
requests
langchain-text-splitters
langchain-classic
sse-starlette